{{ define "main" }}
	{{ $labels := dict "fragments" "Fragment" "ai" "AI" "seeking" "Seeking" "essays" "Essay" }}
	{{ $latest := where .Site.RegularPages "Section" "in" (slice "fragments" "ai" "seeking" "essays") }}
	<div class="index-body">
		<h3 class="section-heading">Latest</h3>
		{{ range first 12 $latest.ByDate.Reverse }}
			{{ partial "index-item.html" (dict "page" . "label" (index $labels .Section)) }}
		{{ end }}

		{{ if site.Params.showPopular }}{{ with partial "popular.html" . }}
			<a class="section-heading-link" href="{{ "popular/" | relURL }}"><h3 class="section-heading section-heading-popular">Popular</h3></a>
			{{ range first 8 . }}
				{{ partial "index-item.html" (dict "page" . "label" (index $labels .Section)) }}
			{{ end }}
		{{ end }}{{ end }}
	</div>
{{ end }}
