{{ define "main" }}

	<div class="bookshelf-body">
		{{ .Content }}
	
		<div class="bookshelf-list">
			<p><strong>Shelf:</strong> <span class="list-date">(Last updated: January 2026)</span></p>
			
			<ul>
				{{ range .Pages }}
					<li><span class="{{ if eq .Params.recommendation "4" }} bookshelf-book-green {{ else if eq .Params.recommendation "5" }} bookshelf-book-red {{ end }}">{{ .Title }}{{ with .Params.author }}, {{ . }}{{ end }}</span>{{ with .Params.description }}: {{ . }} {{ end }}</li>
				{{ end }}
			</ul>
		</div>
	</div>

{{ end }}